
body{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: #faedcd;
}

.far {
    font-weight: 400;
    margin-right: 10px;
}

.nav-link{
    color: #95a368;
    text-decoration: none;
    font-size: 16px;
    display: block;
    position: relative;
}

.nav-item{
    padding: 10px 10px;
    font-family: 'Cormorant', serif;
}

#heading{
    font-size: 6rem;
    color: #95a368;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);

}

#aftheading{
    background-color: #d4a373;
    margin: 50px auto;
    display: block;
    max-width: 400px;
    border-radius: 5px;
    color: #e9edc9;
    padding: 10px 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
}