
body{
    font-family: 'Outfit', sans-serif;
}

.far {
    font-weight: 400;
    margin-right: 10px;
}

.nav-link{
    color: #6434b6;
    text-decoration: none;
    font-size: 16px;
    display: block;
    position: relative;
}

.nav-item{
    padding: 10px 10px;
    font-family: 'Cormorant', serif;
}

h1{
    text-align: center;
    font-size: 6rem;
}