
body{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: #faedcd;
}

.far {
    font-weight: 400;
    margin-right: 10px;
}

.nav-link{
    color: #95a368;
    text-decoration: none;
    font-size: 16px;
    display: block;
    position: relative;
}

.nav-item{
    padding: 10px 10px;
    font-family: 'Cormorant', serif;
}

#heading{
    font-size: 6rem;
    color: #95a368;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);

}

#aftheading{
    background-color: #d4a373;
    color: #fbffdf;
    font-size: 2rem;
}

.box {
    background-color: #d4a373;
    margin: 50px auto;
    display: block;
    max-width: 400px;
    border-radius: 5px;
    padding: 10px 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input[type= "text"] {
    color: #fbffdf;
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;

}

::placeholder{
    color: #fbffdf;
}

input[type= "text"]:focus {
    border-bottom: 3px solid #98a56b;
    outline: none;
  }

button {
    background-color: #95a368;
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    color: #fff;
    font-size: 30px;
    border-width: 0;
}

